<%= form_for(task) do |f| %>
  <div class="form-group">
    <%= f.label :content, 'task contents' %>
    <%= f.text_field :content , class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :status, 'task status' %><br>
    <%= f.select :status,[["new"],["assigned"],["done"]] %>
  </div>
  
  
  <div class="form-group">
    <%= f.submit 'submit', class: 'btn btn-primary' %>
  </div>
<% end %>